@using Gefco.CipQuai.Web.Models
@using Syncfusion.EJ2.Grids
@model IEnumerable<Gefco.CipQuai.Web.Models.TractionViewModel>

@{
    ViewBag.Title = "Tractions";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.ShowHeader = false;
    var id = Tools.GenerateRandomString(8);

}
<div class="row dashboard" id="capture">
    <div class="col-xl-12 col-md-12 px-1 px-sm-3">
        <div class="card product-progress-card">
            <div class="card-header main-header">
                <button type="button" class="f-right e-btn e-primary" onclick="addTraction()">Ajouter une traction</button>
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="card-block p-0">
                <div class="pp-main row m-0">
                    <div class="col-12 px-0">
                        @(Html.EJS().Grid("Grid")
                                                                              .DataSource(ds => ds.Url(Url.Action("IndexData")).Adaptor("UrlAdaptor")).DataBound("postLoad")
                                                                      .AllowExcelExport().ExcelExportComplete("showColumns")
                                                                              .Columns(col =>
                                                                              {
                                                                                  col.Field(nameof(TractionViewModel.Name)).HeaderText("Nom de traction").Width("150").Add();
                                                                                  col.Field(nameof(TractionViewModel.AgenceDepart)).HeaderText("Agence de départ").Width("150").Add();
                                                                                  col.Field(nameof(TractionViewModel.AgenceArrivee)).HeaderText("Agence d'arrivée").Width("150").Add();
                                                                                  col.Field("Id").HeaderText("Détails").Template("<a href='" + Url.Action("Edit") + "/${Id}' class='e-btn e-primary'>Éditer</a><a href='#' class='e-btn e-danger mx-2' data_id='${Id}'>Supprimer</a>").Width("110").Add();
                                                                              })
                                                                              .Toolbar(new List<string>() { "Search" })
                                                                              .AllowSorting()
                                                              .AllowPaging().PageSettings(p => p.PageCount(3).PageSize(10))
                                                                              .SortSettings(sort => sort.AllowUnsort(false).Columns(new[] { new { field = "Name", direction = "Ascending" } }))
                                                                              .Render())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function postLoad() {
        $("table a.e-danger").click(
            function (e) {
                e.preventDefault();
                var id = this.attributes.data_id.value;
                swal({
                        title: "Êtes-vous sûr ?",
                        text: "Vous ne pouvez pas annuler cette action !",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Supprimer",
                        closeOnConfirm: false
                    },
                    () => {
                        $.post('@Url.Action("Delete")/' + id, null, function(result) {
                            swal({
                                title: "Suppression confirmée", text: "Traction supprimée", type:"success"
                            }, () => {
                                var grid = document.getElementById("Grid").ej2_instances[0];
                                grid.refresh(); // refresh the Grid.
                            });
                        });
                    });
            });
    }

    function showColumns(args) {
        this.columns[3].visible = true;
        document.getElementById('Grid').ej2_instances[0].hideSpinner();
        return false;
    }
    function addTraction() {
        swal({
            title: "Ajout Traction",
            text: "Saisissez le nom :",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            inputPlaceholder: "Traction..."
        }, function(inputValue) {
            if (inputValue === false)
                return false;
            if (inputValue === "") {
                swal.showInputError("Saisie obligatoire !");
                return false;
            }
            $.post('@Url.Action("Create")', { Name: inputValue }, function (result) {
                swal({
                    title: "Succès", text: "Élément ajouté avec succès", type: "success"
                }, () => {
                    window.location = "@Url.Action("Edit")/" + result;
                });
            });
        });
        return false;
    }

    $("#menu-admin-tractions").addClass("active");
</script>
