@model IEnumerable<Gefco.CipQuai.Web.Models.Page>

@{
    ViewBag.PageIcon = "feather icon-layers";
    ViewBag.Title = "Pages";
    ViewBag.PageStory = "Here you can manage your application pages";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.ShowHeader = false;

}

<div class="row dashboard">
    <div class="col-sm-12">
        <div class="card product-progress-card">
            <div class="card-header main-header">
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover m-b-0">
                        <colgroup>
                            <col style="width: 15%">
                            <col style="width: 70px">
                            <col style="width: 70px">
                            <col style="width: 20%">
                            <col style="width: 20%">
                            <col>
                            <col style="width: 50px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    Section
                                </th>
                                <th>
                                    Order
                                </th>
                                <th>
                                    Icon
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Menu Tag
                                </th>
                                <th>
                                    Link
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Section.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SortOrder)
                                    </td>
                                    <td>
                                        <i class="@item.Icon"></i>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MenuTag)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Link)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger", data_id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-primary" onclick="addPage()">Add page</button>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function addPage() {
            swal({
                title: "Add Page",
                text: "Enter the page name :",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                inputPlaceholder: "Page name"
            }, function(inputValue) {
                if (inputValue === false)
                    return false;
                if (inputValue === "") {
                    swal.showInputError("You need to write something!");
                    return false;
                }
                    $.post('@Url.Action("Create")', { Name: inputValue }, function (result) {
                    swal({ title: "Success", text: "Page added with success", type:"success"
                    }, () => {
                        window.location = "@Url.Action("Edit")/" + result;
                    });
                });
                });
            return false;
        }

        $("#menu-admin-pages").addClass("active");
        $("table a.btn-danger").on("click",
            function(e) {
                e.preventDefault();
                var btn = $(this);
                swal({
                        title: "Are you sure?",
                        text: "Your will not be able to undo this !",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Delete",
                        closeOnConfirm: false
                    },
                    function() {
                        $.post('@Url.Action("Delete")/' + btn.data("id"), null, function(result) {
                            swal({ title: "Deleted", text: "Delete successful", type:"success"
                            }, () => window.location = window.location);
                        });
                    });
            });
    </script>

}