@using Gefco.CipQuai.Web.ViewModels
@using Syncfusion.EJ2.Grids
@model IEnumerable<Gefco.CipQuai.Web.ViewModels.BusinessRoleViewModel>

@{
    ViewBag.Title = "Rôles";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.ShowHeader = false;
    var id = Tools.GenerateRandomString(8);

}
<div class="row dashboard" id="capture">
    <div class="col-xl-12 col-md-12 px-1 px-sm-3">
        <div class="card product-progress-card">
            <div class="card-header main-header">
                <button type="button" class="f-right e-btn e-primary" onclick="addRole('A')">Ajouter un rôle Agence</button>
                <button type="button" class="f-right e-btn e-primary mx-2" onclick="addRole('R')">Ajouter un rôle Région</button>
                <button type="button" class="f-right e-btn e-primary" onclick="addRole('N')">Ajouter un rôle National</button>
                <h4>@ViewBag.Title</h4>
            </div>
            <div class="card-block p-0">
                <div class="pp-main row m-0">
                    <div class="col-12 px-0">
                        @(Html.EJS().Grid("Grid")
                                                                                      .DataSource(ds => ds.Url(Url.Action("IndexData")).Adaptor("UrlAdaptor")).DataBound("postLoad")
                                                                                      .Columns(col =>
                                                                                      {
                                                                                          col.Width("60").Field(nameof(BusinessRoleViewModel.Type)).HeaderText("Type").Add();
                                                                                          col.Width("80").Field(nameof(BusinessRoleViewModel.Value)).HeaderText("Nom").Add();
                                                                                          col.Width("100").Field(nameof(BusinessRoleViewModel.Description)).HeaderText("Description").Add();
                                                                                          col.Width("70").Field(nameof(BusinessRoleViewModel.Key)).HeaderText("Détails").Template("<a href='" + Url.Action("Edit") + "/${Key}' class='e-btn e-primary'>Éditer</a>").Add();
                                                                                      })
                                                                                      .Toolbar(new List<string>() { "Search" })
                                                                                      .AllowSorting()
                                                                      .AllowPaging().PageSettings(p => p.PageCount(3).PageSize(10))
                                                                                      .SortSettings(sort => sort.AllowUnsort(false).Columns(new[] { new { field = "Value", direction = "Ascending" } }))
                                                                                      .Render())
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function postLoad() {
        $("table a.e-danger").click(
            function (e) {
                e.preventDefault();
                var id = this.attributes.data_id.value;
                swal({
                        title: "Êtes-vous sûr ?",
                        text: "Vous ne pouvez pas annuler cette action !",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Supprimer",
                        closeOnConfirm: false
                    },
                    () => {
                        $.post('@Url.Action("Delete")/' + id, null, function(result) {
                            swal({
                                title: "Suppression confirmée", text: "Rôle supprimé", type:"success"
                            }, () => {
                                var grid = document.getElementById("Grid").ej2_instances[0];
                                grid.refresh(); // refresh the Grid.
                            });
                        });
                    });
            });
    }

    function showColumns(args) {
        this.columns[3].visible = true;
        document.getElementById('Grid').ej2_instances[0].hideSpinner();
        return false;
    }
    function addRole(type) {
        swal({
            title: "Ajout Rôle " + (type === 'A' ? 'Agence' : type === 'N' ? 'National' : 'Région'),
            text: "Saisissez le nom :",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            inputPlaceholder: "Rôle..."
        }, function(inputValue) {
            if (inputValue === false)
                return false;
            if (inputValue === "") {
                swal.showInputError("Saisie obligatoire !");
                return false;
            }
            $.post(type === 'A' ? '@Url.Action("CreateAgenceRole")' : 'N' ? '@Url.Action("CreateNationalRole")' : '@Url.Action("CreateRegionRole")', { Value: inputValue }, function (result) {
                swal({
                    title: "Succès", text: "Élément ajouté avec succès", type: "success"
                }, () => {
                    var grid = document.getElementById("Grid").ej2_instances[0];
                    grid.refresh(); // refresh the Grid.
                });
            });
        });
        return false;
    }

    $("#menu-admin-userroles").addClass("active");
</script>
