@using Gefco.CipQuai.Web.Models
@model Gefco.CipQuai.Web.Models.AgenceViewModel

@{
    ViewBag.AgenceIcon = "feather icon-layers";
    ViewBag.Title = "Éditer Agence [" + Model.Name + "]";
    ViewBag.AgenceStory = "Here you can edit your agence";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.ShowHeader = false;
    var id = Tools.GenerateRandomString(8);
}

<div class="row dashboard" id="capture">
    <div class="col-xl-12 col-md-12 px-1 px-sm-3">
        <div class="card product-progress-card">
            <div class="card-header main-header">
                <h4>Infos agence - @Model.Name</h4>
            </div>
            <div class="card-block p-2">
                <div class="pp-main row m-0">
                    <div class="col-3 px-0"></div>
                    <div class="col-6 px-0">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.HiddenFor(model => model.Id)
                            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl"/>

                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.AgenceType_Id)">Type d'agence</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(p => p.AgenceType_Id, null, htmlAttributes: new
                                    {
                                        @class = "form-control"
                                    })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.Region_Id)">Région</label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(p => p.Region_Id, null, htmlAttributes: new
                                    {
                                        @class = "form-control"
                                    })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.Name)">Nom</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Name, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.Name, "", new
                                    {
                                        @class = "text-danger"
                                    })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.OtherName)">Autre nom</label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.OtherName, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.OtherName, "", new
                                    {
                                        @class = "text-danger"
                                    })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.IsUnderWatch)">Sous surveillance</label>
                                <div class="col-md-8">
                                    @Html.EJS().CheckBoxFor(model => model.IsUnderWatch, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    }).Render()
                                    @Html.ValidationMessageFor(model => model.IsUnderWatch, "", new
                                    {
                                        @class = "text-danger"
                                    })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.IsStart)">Agence de départ</label>
                                <div class="col-md-8">
                                    @Html.EJS().CheckBoxFor(model => model.IsStart, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    }).Render()
                                    @Html.ValidationMessageFor(model => model.IsStart, "", new
                                    {
                                        @class = "text-danger"
                                    })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.IsEnd)">Agence d'arrivée</label>
                                <div class="col-md-8">
                                    @Html.EJS().CheckBoxFor(model => model.IsEnd, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    }).Render()
                                    @Html.ValidationMessageFor(model => model.IsEnd, "", new
                                    {
                                        @class = "text-danger"
                                    })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class=" col-md-4" for="@nameof(Model.IsProvenanceNC)">Provenance NC</label>
                                <div class="col-md-8">
                                    @Html.EJS().CheckBoxFor(model => model.IsProvenanceNC, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control"
                                        }
                                    }).Render()
                                    @Html.ValidationMessageFor(model => model.IsProvenanceNC, "", new
                                    {
                                        @class = "text-danger"
                                    })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <button type="button" class="e-btn e-danger" onclick="javascript:window.location = '@Url.Action("Index")'">Retour à la liste</button>
                                    <input type="submit" value="Sauvegarder" class="e-btn e-primary" />
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $("#menu-admin-agences").addClass("active");
        @*function toggleRole(e) {
            let input = $(e);
            $.post('@Url.Action("ToggleRole")', { roleId: input.val(), AgenceId: '@Model.Id', isInRole: input.prop('checked') }, () => { window.location = window.location });
        }*@
    </script>

}